-#= render 'credits/form'
%p Сервис в разработке.

%ul.features
  %li Быстро и просто записать долг или одолжение
  %li Напомнить о возврате в установленный срок
  
-# %p Запуск &#8212; 1 ноября 2010.

%p
  За новостями следите на твиттере
  = link_to '@RememberTheBook', 'http://twitter.com/RememberTheBook'




