[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
[submodule "vendor/plugins/acts_as_category"]
	path = vendor/plugins/acts_as_category
	url = git://github.com/funkensturm/acts_as_category.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/plugins/render_component"]
	path = vendor/plugins/render_component
	url = git://github.com/lackac/render_component.git
[submodule "vendor/plugins/typus"]
	path = vendor/plugins/typus
	url = git://github.com/fesplugas/typus.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/state_machine"]
	path = vendor/plugins/state_machine
	url = git://github.com/pluginaweek/state_machine.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/dapi/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/action_link"]
	path = vendor/plugins/action_link
	url = git://github.com/gzigzigzeo/action_link.git
[submodule "vendor/plugins/searchlogic"]
	path = vendor/plugins/searchlogic
	url = git://github.com/binarylogic/searchlogic.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/dump"]
	path = vendor/plugins/dump
	url = git://github.com/toy/dump.git
[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/gzigzigzeo/awesome_nested_set.git
