

- if @recipient.normal?
  %p
    Кто-то, скорее всего вы, запросил восстановление пароля на сервисе 
    = link_to 'RememberTheBook.com', root_url
    если это был не Вы, просто игнорируйте это письмо.
  %p
    Чтобы установить новый пароль, кликните по
    = link_to 'этой ссылке', edit_user_password_url( @recipient, :reset_password_token => @recipient.reset_password_token )
- else
  %p
    Для автоматического входа на сервис 
    = link_to 'RememberTheBook.com', root_url
    воспользуйтесь
    = auth_link_to "этой ссылкой", credits_path 


-# %p Someone has requested a link to change your password, and you can do this through the link below.
-# %p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
-# %p If you didn't request this, please ignore this email.
-# %p Your password won't change until you access the link above and create a new one.
