
<table cellpadding="0" border="0" cellspacing="0" id="main">
<td width="33%"><%=render :partial => "common/places" %></td>
<td width="33%"><%=render :partial => "common/info_block" %></td>
<td width="33%"><%=render :partial => "common/strelki" %></td>
</table>

