body    {
        margin: 0px;
        padding: 10px;
color: #333;
background-color: #fefefe;
font-size: 12px; 
font-family: Arial, Helvetica, 'Trebuchet MS', sans-serif;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
/*  font-size:   13px;
  line-height: 18px; */
}





pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* a { color: #000; } */
/* a:visited { color: #666; } */
/* a:hover { background-color:#000; } */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}





#header {
 position: relative;
 right: 0px; 
 text-align: left;
}


#footer { padding: 10px;
border: 1px dashed gray;
color: white;
background: #000;
clear: both;
}

#leftbar {
float: left; 
 position: relative;
background: #cc0;
width: 15%;
left: 0px;
}

#rightbar {
float: left; 
background: #cc0;
right: 0px;
width: 15%;
}



#main { 
 width: 70%;
 float: left;
 position: relative;
 left: 0px;
 top: 0px; }

#search { padding: 10px }

#search_title {color: gray; font-size: 75%}
#search_tips {color: gray; font-size: 75%}
#search_tips > span {border-bottom: dashed 1px gray}

#body { 
padding: 10px;
font-size: 12px; }


form#sendsms input { font-size: 9px; }

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


