= breadcrumb @company_group.breadcrumb
-#= link_to 'Добавить компанию', new_category_company_path(@category)
%h1
  =h @company_group.name

= render :partial => "companies/list", :locals => { :companies => @companies }

