<div class="day<% if day.date.wday>=5 %> weekend_day<% end %>">

<h1><%= h_lenta_date day %></h1>

<!--img src="/pic/i/1.jpg" width="100"/-->
<!--span class="text">Лучшее на что можно пойти сегодня это опера "Травиата".</span-->
<%#= @cat='Оперы'; render :partial => "common/day_events" %>
<%#= @cat='Кино'; render :partial => "common/day_events" %>
<%#= @cat='Вечеринки'; render :partial => "common/day_events" %>
<%#= @cat='Танцы'; render :partial => "common/day_events" %>

</div>
