<script type="text/javascript">
months = <%= @lenta.to_json %>
</script>
<div id="LentaComponent">

  <div id="timeline">
    <div id="marker"></div>
    <div id="calendar" style="left:0px;"></div>
  </div>

 <div id="win">
   <div class="touchpad left">&nbsp;</div>
   <div id="lenta" style="left:0px">
	<!--div id="handler"> &nbsp;</div-->
   </div>
   <div class="touchpad right">&nbsp;</div>
  </div>

</div>

<div id="hh2"></div>
