<div class="infoblock">
<h1>Лучший клуб</h1>
<img src="http://www.zhazhda.ru/files/users/1873.jpg"/>
<span class="text">
Молли-Маллоне признан лучшим рестораном в Чувашии по итогам саммита ЕС. <a href="" class="spec right">Подробнее..</a>
</span>
</div>
