
<h1>Стрелки:</h1>
<ul class="inline">
<li><a href="" class="u">Анечка</a></li>
<li><a href="" class="u">Сережа</a></li>
<li><a href="" class="u">Котик</a></li>
<li><a href="" class="u">Собачка</a></li>
</ul>